.container{
	box-sizing:border-box;
}
.header-tab{
	background-color: #ffffff;
	border-color: #cccccc;
	border-bottom: 20px;
	font-family: 'Georgia',"Times","Times New Roman", "Serif";
	padding-left: 100px;
	top:0;
	left:0;

}

.page-content{
	background-attachment: fixed;
	background-image: url("assets/images/ticks.png");

}

nav{
	display: inline-block;
	right: 70px;
	top: 70px;
	position: absolute;


}

.nav-link{
		font-family: font-family: 'Georgia', Times, "Times New Roman", serif;
		color: #777777;
}
h1{
	background-color: #4aaaa5;
	font-family:"Georgia",Times,"Times New Roman", Serif;
	color:#ffffff;
	font-size: 25px;
	font-weight:bold;
	padding:25px;
	margin-top: 10px;
	display: inline-block;
}

h2{
	color: #4aaaa5;
	font-size: 25px;
	padding: 25px;


}
.media-photos{
	height: 50px;
	width: 50px;
}